@import "https://unpkg.com/open-props";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*:focus {
  outline-offset: 4px; }

button,
input {
  font: inherit; }

.page {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: linear-gradient(45deg, rgba(1, 2, 1, 0.534) 0%, rgba(0, 0, 0, 0.473) 100%),
    url('../../../assets/`images/slider1.jpg')  center center repeat;
  display: grid;
  grid-template-areas: "main";
  padding: var(--size-4);
  height: 100vh;
  font-family: var(--font-sans); }
  .page__main {
    grid-area: main; }

.main {
  display: grid;
  align-items: center; }
  .main__login-form {
    margin-inline: auto;
    max-width: 25em; }

.login-form {
  color: #433532;
  display: grid;
  position: relative;
  width: 100%;
  padding: var(--size-8);
  border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 1em; }
  .login-form::before {
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    inset: 0;
    border-radius: inherit;
    content: "";
    z-index: -4000;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px); }
  .login-form__title {
    margin-bottom: var(--size-6);
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-5);
    text-align: center; }
  .login-form__label {
    margin-bottom: var(--size-4);
    display: grid; }
  .login-form__input {
    color: inherit;
    width: 100%;
    padding: 0.8em;
    border: 0;
      border-radius: var(--radius-2); }
  .login-form__footer {
    margin-top: var(--size-5);
    display: flex;
    gap: var(--size-2);
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    @media screen and (min-width: 36em) {
      .login-form__footer {
        flex-direction: row; } }
  .login-form__link {
    color: inherit;
    text-decoration: 0; }
    .login-form__link:hover {
      text-decoration: underline; }

.primary-btn {
  color: white;
  background-color: #433532;
  padding: 0.9em 1.4em;
  border: 0;
    border-radius: var(--radius-2);
  cursor: pointer; }
  .primary-btn:hover {
    background-color: #c53b0d; }

.sr-only {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  padding: 0;
  border-width: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; }
